@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Cormorant:wght@700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,600;1,600&family=M+PLUS+Rounded+1c&family=Prata&family=Sedan:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 1200px;
    position: relative;
}

.header-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    z-index: 1;
}

.header-right {
    display: flex;
}

.menu {
    display: flex;
    gap: 1.5rem;
}

.item-menu {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    list-style: none;
    color: #ffffff;
    z-index: 1;
}

.item-menu a {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.logo {
    max-width: 100px;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa {
    background-color: #1c1c1d;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
    width: 100%;
    height: 1070px;
    mix-blend-mode: overlay;
}


.hero-titles {
    padding-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.hero-titles h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    color: #ffffff;
}

.hero-titles h3 {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    color: #ffffff;
}

.hero-titles h2 {
    z-index: 1;
}

.hero-titles h2 a {
    font-family: "Prata", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    max-width: max-content;
    background-color: rgb(134, 119, 98);
    padding: .8rem;
    color: #ffffff;
    z-index: 1;
    text-decoration: none;
}

.video-main {
    position: absolute;
    height: 916;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/* sobre mi */

.sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto imagen";
    padding: 4rem;
    gap: 2rem;
}

.text-left {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-left h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.text-left p {
    font-family: "Prata", serif;
    font-weight: 150;
    font-style: normal;
    font-size: 15px;
    line-height: 35px;
}

.text-left h4 {
    font-family: "Prata", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    background-color: #272727;
    width: max-content;
    color: #ffffff;
    padding: .8rem;
}

.foto-mia {
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-mia img {
    max-width: 900px;
}

/* muestra */

.muestra {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.titulo-muestra h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.texto-muestra p {
    font-family: "Prata", serif;
    font-weight: 150;
    font-style: normal;
    font-size: 15px;
}


/* footer */

.footer {
    background-color: #272727;
    height: 250px;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    gap: 1rem;
    margin-top: 5rem;
}

.redes {
    display: flex;
    gap: 2rem;
}

.fa-brands {
    font-size: 1.8rem;
    color: #ffffff;
}

.copy {
    background-color: #ffffff;
    width: 100%;
    padding: 1.6rem;
}

.copy h3 {
    text-align: center;
    color: #272727;
    font-family: "Prata", serif;
    font-weight: 150;
    font-style: normal;
    font-size: 15px;
}

@media (max-width: 1700px) {

    .sobre-mi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "texto imagen";
        margin-top: 8rem;
        padding: 2rem;
        gap: 2rem;
    }

    .text-left {
        grid-area: texto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
    }

    .text-left h2 {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2.5rem;
    }

    .text-left p {
        font-family: "Prata", serif;
        font-weight: 150;
        font-style: normal;
        font-size: 11px;
        line-height: 25px;
    }

    .text-left h4 {
        font-family: "Prata", serif;
        font-weight: 500;
        font-style: normal;
        font-size: .8rem;
        background-color: #272727;
        width: max-content;
        color: #ffffff;
        padding: .6rem;
    }

    .foto-mia {
        grid-area: imagen;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-mia img {
        max-width: 700px;
    }

    .muestra {
        margin-top: 8rem;
    }

    .footer {
        margin-top: 8rem;
    }
}

@media (max-width: 1200px) {
    .item-menu a {
        font-size: 13px;
    }

    .hero-titles h1 {
        font-size: 2.8rem;
    }

    .hero-titles h3 {
        font-size: 1rem;
    }

    .hero-titles h2 a {
        font-size: 1.4rem;
    }

    .video-main {
        height: 100%;
    }

    /* sobre mi */

    .sobre-mi {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 2rem;
        gap: 5rem;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .text-left h2 {
        font-size: 2.2rem;
    }

    .text-left p {
        font-size: 14px;
        line-height: 30px;
    }

    .text-left h4 {
        font-size: 1rem;
        padding: .5rem;
    }

    .foto-mia {
        padding: 0;
    }

    .foto-mia img {
        width: 100%;
    }

    /* muestra */

    .muestra {
        padding: .2rem;
        text-align: center;
        margin-top: 10rem;
        gap: 4rem;
    }

    .titulo-muestra h2 {
        font-size: 2.2rem;
    }

    .texto-muestra p {
        text-align: center;
        font-size: 14px;
    }

    .video-muestra video {
        width: 100%;
    }



    .footer {
        height: 200px;
        padding-top: 1.5rem;
        gap: 1rem;
        margin-top: 10rem;
    }

    .redes {
        display: flex;
        gap: 2rem;
    }

    .fa-brands {
        font-size: 1.8rem;
        color: #ffffff;
    }

    .logo-footer img {
        width: 90px;
    }

    .copy {
        background-color: #ffffff;
        width: 100%;
        padding: 1.6rem;
    }

    .copy h3 {
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 992px) {

    .item-menu a {
        font-size: 10px;
    }

    .hero-titles h1 {
        font-size: 2.8rem;
    }

    .hero-titles h3 {
        font-size: 1rem;
    }

    .hero-titles h2 a {
        font-size: 1.4rem;
    }

    .video-main {
        height: 100%;
    }

    /* sobre mi */

    .sobre-mi {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 1.2rem;
        gap: 5rem;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .text-left h2 {
        font-size: 2.2rem;
    }

    .text-left p {
        font-size: 14px;
        line-height: 28px;
    }

    .text-left h4 {
        font-size: 1rem;
        padding: .5rem;
    }

    .foto-mia {
        padding: 0;
    }

    .foto-mia img {
        width: 100%;
    }

    /* muestra */

    .muestra {
        padding: .2rem;
        text-align: center;
        margin-top: 10rem;
        gap: 4rem;
    }

    .titulo-muestra h2 {
        font-size: 2.2rem;
    }

    .texto-muestra p {
        text-align: center;
        font-size: 14px;
    }

    .video-muestra video {
        width: 100%;
    }



    .footer {
        height: 200px;
        padding-top: 1.5rem;
        gap: 1rem;
        margin-top: 10rem;
    }

    .redes {
        display: flex;
        gap: 2rem;
    }

    .fa-brands {
        font-size: 1.8rem;
        color: #ffffff;
    }

    .logo-footer img {
        width: 90px;
    }

    .copy {
        background-color: #ffffff;
        width: 100%;
        padding: 1.6rem;
    }

    .copy h3 {
        text-align: center;
        font-size: 14px;
    }

}

@media (max-width: 768px) {

    .header-hero {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .header-galer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    nav .menu-g {
        display: flex;
        gap: 4rem;
    }

    .menu {
        display: flex;
        gap: 4rem;
    }

    .logo {
        max-width: 90px;
    }

    .item-menu a {
        font-size: 12px;
    }

     #galer-a {
        font-size: 12px;
    }


    .hero-titles h1 {
        font-size: 2.8rem;
    }

    .hero-titles h3 {
        font-size: 1rem;
    }

    .hero-titles h2 a {
        font-size: 1.4rem;
    }

    .video-main {
        height: 100%;
    }

    /* sobre mi */

    .sobre-mi {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 1.2rem;
        gap: 4rem;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .text-left h2 {
        font-size: 2.2rem;
    }

    .text-left p {
        font-size: 13px;
        line-height: 24px;
    }

    .text-left h4 {
        font-size: 1rem;
        padding: .5rem;
    }

    .foto-mia {
        padding: 0;
    }

    .foto-mia img {
        width: 100%;
    }

    /* muestra */

    .muestra {
        padding: .2rem;
        text-align: center;
        margin-top: 10rem;
        gap: 3rem;
    }

    .titulo-muestra h2 {
        font-size: 2.2rem;
    }

    .texto-muestra p {
        text-align: center;
        font-size: 13px;
    }

    .video-muestra video {
        width: 100%;
    }



    .footer {
        height: 200px;
        padding-top: 1.5rem;
        gap: 1rem;
        margin-top: 10rem;
    }

    .redes {
        display: flex;
        gap: 2rem;
    }

    .fa-brands {
        font-size: 1.8rem;
        color: #ffffff;
    }

    .logo-footer img {
        width: 90px;
    }

    .copy {
        background-color: #ffffff;
        width: 100%;
        padding: 1.6rem;
    }

    .copy h3 {
        text-align: center;
        font-size: 14px;
    }
}

@media (max-width: 576px) {

    .header-hero {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .menu {
        display: flex;
        gap: 2.5rem;
    }

    nav .menu-g{
        display: flex;
        gap: 2.5rem;
    }

    .logo {
        max-width: 70px;
    }

    .item-menu a {
        font-size: 10px;
    }

    #galer-a {
        font-size: 10px;
    }

    .hero-titles h1 {
        font-size: 2.5rem;
    }

    .hero-titles h3 {
        font-size: .9rem;
    }

    .hero-titles h2 a {
        font-size: 1.2rem;
    }

    .video-main {
        height: 100%;
    }

    /* sobre mi */

    .sobre-mi {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 1rem;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .text-left h2 {
        font-size: 1.8rem;
    }

    .text-left p {
        font-size: 11px;
        line-height: 22px;
    }

    .text-left h4 {
        font-size: .8rem;
        padding: .5rem;
    }

    .foto-mia {
        padding: 0;
    }

    .foto-mia img {
        width: 100%;
    }

    /* muestra */

    .muestra {
        padding: .2rem;
        text-align: center;
        gap: 3rem;
    }

    .titulo-muestra h2 {
        font-size: 1.8rem;
    }

    .texto-muestra p {
        text-align: center;
        font-size: 12px;
    }

    .video-muestra video {
        width: 100%;
    }



    .footer {
        height: 200px;
        padding-top: 1.5rem;
        gap: 1rem;
        margin-top: 8rem;
    }

    .redes {
        display: flex;
        gap: 2rem;
    }

    .fa-brands {
        font-size: 1.5rem;
        color: #ffffff;
    }

    .logo-footer img {
        width: 80px;
    }

    .copy {
        background-color: #ffffff;
        width: 100%;
        padding: 1.6rem;
    }

    .copy h3 {
        text-align: center;
        font-size: 12px;
    }
}

@media (max-width: 360px) {

    .header-hero {
        display: flex;
        flex-direction: column
    }

    .logo {
        max-width: 70px;
    }

    .item-menu a {
        font-size: 10px;
    }

    #galer-a{
        font-size: 10px;
    }

    .hero-titles h1 {
        font-size: 2rem;
    }

    .hero-titles h3 {
        font-size: .8rem;
    }

    .hero-titles h2 a {
        font-size: 1rem;
    }

    .video-main {
        height: 100%;
    }

    /* sobre mi */

    .sobre-mi {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .text-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .text-left h2 {
        font-size: 1.5rem;
    }

    .text-left p {
        font-size: 10px;
        line-height: 20px;
    }

    .text-left h4 {
        font-size: .5rem;
        padding: .5rem;
    }

    .foto-mia {
        padding: 0;
    }

    .foto-mia img {
        width: 100%;
    }

    /* muestra */

    .muestra {
        padding: .5rem;
        text-align: center;
    }

    .titulo-muestra h2 {
        font-size: 1.5rem;
    }

    .texto-muestra p {
        text-align: center;
        font-size: 10px;
    }

    .video-muestra video {
        width: 100%;
    }

    .footer {
        height: 180px;
        padding-top: 1.5rem;
        gap: .5rem;
        margin-top: 8rem;
    }

    .redes {
        display: flex;
        gap: 2rem;
    }

    .fa-brands {
        font-size: 1rem;
        color: #ffffff;
    }

    .logo-footer img {
        width: 80px;
    }

    .copy {
        background-color: #ffffff;
        width: 100%;
        padding: 1.6rem;
    }

    .copy h3 {
        text-align: center;
        font-size: 10px;
    }
}

/* --------------- GALERIA ---------------- */

.header-galer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: #272727;
}

.header-right-g {
    display: flex;
}

.menu-g {
    display: flex;
    gap: 1.5rem;
}

.item-menu-g {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    list-style: none;
    color: #ffffff;
}

.item-menu-g a {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}

/* galeria */

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    gap: 10rem;
}

.video-galer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.video-galer h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: #272727;
}

.video-galer video{
    width: 100%;
}

.video-galer h4 {
    font-family: "Prata", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}

@media (max-width: 360px) {
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
    }
    
    .video-galer {
        gap: 1rem;
    }

    #video-galeria video{
        width: 100%;
    }
    
    .video-galer h2 {
        font-size: 1rem;
    }
    
    .video-galer h4 {
        font-size: 10px;
    }

}

@media (max-width: 576px) {
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }
    
    .video-galer {
        margin-top: 3rem;
        gap: 2rem;
    }

    #video-galeria video{
        width: 100%;
    }
    
    .video-galer h2 {
        font-size: 1rem;
    }
    
    .video-galer h4 {
        font-size: 10px;
    }

}

@media (max-width: 768px) {
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }
    
    .video-galer {
        margin-top: 3rem;
        gap: 2rem;
    }

    #video-galeria video{
        width: 100%;
    }
    
    .video-galer h2 {
        font-size: 2rem;
    }
    
    .video-galer h4 {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }
    
    .video-galer {
        margin-top: 3rem;
        gap: 2rem;
    }

    #video-galeria video{
        width: 100%;
    }
    
    .video-galer h2 {
        font-size: 2.5rem;
    }
    
    .video-galer h4 {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 3rem;
    }
    
    .video-galer {
        margin-top: 3rem;
        gap: 2rem;
    }

    #video-galeria video{
        width: 100%;
    }
    
    .video-galer h2 {
        font-size: 2.5rem;
    }
    
    .video-galer h4 {
        font-size: 15px;
    }
}

/* CONTACTO */

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.formulario h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 5rem;
    color: #272727;
}

.centrar-form {
    border: #272727 solid 1px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h4 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

input {
    border: none;
    border-bottom: 1px solid #272727;
    width: 100%;
    padding: 1rem;
}

.enviar {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    border: none;
}